//
//  AppleProduction.xcconfig
//  XcodeSchemes
//
//  Created by MANAS VIJAYWARGIYA on 07/01/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// AppleProduction.xcconfig App Settings
APP_NAME = Apple
APP_BUNDLE_ID = com.blacenova.XcodeSchemes.apple
APP_VERSION = 2.0
APP_BUILD = 2
